<div class="row">
  <div class="col-xs-12">
    <h1>All Articles</h1>
    <p>Hope you find what you're looking for..</p>
  </div>
</div>



<div class="articles-con">
<% @articles.each do |current_article| %>
  <%= render partial: "articles/article_preview", locals: { article: current_article } %>
<% end %>
</div>