<h1>Current User</h1>
<p>Email: <%= current_user.email %></p>

<ul>
	<p><small>Articles</small></p>

	<% @user_articles.each do |article| %>

	<li><%= link_to article.title.titleize , article_path(article.id) %></li>


<% end %>
</ul>

<% #article.title %>

<div>
	<h3><%= link_to "Articles", articles_path %> </h3>
</div>
